---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Beranda";

---
<BaseLayout pageTitle={pageTitle}>
  <div class="min-h-screen min-w-full bg-i-main text-white flex items-center justify-center text-center flex-col">
    Bismillah, website Wonogiri Mengaji sedang dibangun

    <br>

    Mohon doanya

    <div class="mt-4">
      Saran dan masukan hubungi ijul (giriwoyo)
    </div>
  </div>
</BaseLayout>
